<section>
	<h2>{{username}}</h2>
	<div id="user-materials">
		<h4>User materials</h4>
		{{#if userMaterials}} {{#userMaterials}}
		<div class="material-container">
			<div class="material-info">
				<h3><a href="#/materials/{{id}}">{{title}}</a></h3>
				<p><strong>Category:</strong> {{category}}</p>
			</div>
		</div>
		{{/userMaterials}} {{else}}
		<p>This user have not materials</p>
		{{/if}}
	</div>
</section>